// position
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

//
.scrolls {
    overflow-y: auto;
    height: 100%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.dp-hide {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.p-0 {
    padding: 0 !important;
}

// flexbox
.d-flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flexcenter {
    display: flex;
    align-items: center;
}

.flexend {
    display: flex;
    align-items: flex-end;
}

.flexstart {
    display: flex;
    align-items: flex-start;
}

.flex-between {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.gap-5 {
    gap: 5px;
}

.gap-8 {
    gap: 8px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.flex-1 {
    flex: 1;
}

.ml-auto {
    margin-left: auto;
}

.red-default {
    color: #ee4646 !important;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-0 {
    margin-top: 0 !important;
}

.txt-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.is-disable {
    pointer-events: none;
    opacity: 0.7;
}

// tooltip
.tooltip {
    position: relative;

    &:not(:hover) {
        .tooltiptext {
            display: none;
        }
    }

    .tooltiptext {
        position: absolute;
        bottom: calc(100% + 4px);
        color: #fff;
        background-color: #000;
        border-radius: 4px;
        padding: 6px 8px;
        font-size: 11px;
        font-weight: 500;
        left: 50%;
        transform: translateX(-50%);
    }
}

// common
.btn-default {
    padding: 0 8px;
    height: 32px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border: 1px solid #1c1f2233;
    background-color: #fff;
    width: max-content;
    gap: 4px;

    &:hover {
        border-color: #0000004d;
    }

    &:active {
        box-shadow:
            inset 0 2px 8px 0 #0000000f,
            inset 0 3px 4px 0 #0000000a,
            inset 0 2px 2px 0 #00000005,
            inset 0 0 2px 0 #0000001f;
    }

    &.--transparent {
        border-color: transparent;

        &:hover {
            border-color: #0000004d;
        }
    }

    &.--icon {
        &-lg,
        &-sm {
            justify-content: center;
            padding: 0;
        }

        &-lg {
            width: 32px;
            height: 32px;
        }

        &-sm {
            width: 24px;
            height: 24px;
        }
    }

    &.has-icon {
        padding: 4px 8px 4px 4px;
    }

    &.--primary {
        background-color: #1e7ef7;
        color: white;
    }

    &.--sm {
        height: 22px !important;
    }

    &.--md {
        height: 28px !important;
    }
}

.tabs {
    display: flex;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: max-content;
    border-radius: 4px;
    gap: 2px;

    .tab-items {
        border-radius: 0;
        height: 28px;
        position: relative;

        &:not(.active):not(:hover) {
            color: #999;
        }

        &:hover {
            border-color: transparent;
        }

        &.active {
            color: #fff;
            background-color: #111213;
            border-radius: 2px;
        }
    }
}

.dropdown {
    position: relative;

    &:not(.active) {
        .dropdown__menu {
            display: none;
        }
    }

    &__menu {
        position: absolute;
        background-color: white;
        box-shadow:
            0 1px 1px rgba(0, 0, 0, 0.26),
            0 2px 5px 0 rgba(0, 0, 0, 0.25),
            0 2px 10px 0 rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        border-radius: 4px;
        padding: 3px 2px;
        right: 0;
        top: 34px;
        z-index: 1;
        width: 100%;
        left: 0;

        &.content-full {
            width: max-content;
            min-width: 100%;
            max-width: 320px;
        }
    }

    .items {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 8px;
        gap: 4px;

        & + .items {
            margin-top: 2px;
        }

        &.active,
        &:hover {
            background-color: #abbee4cc;
        }
    }

    &.active {
        > .btn-default {
            outline: 1px auto #388bff;
        }
    }
}

.field-input {
    height: 32px;
    width: 100%;
    box-shadow: 0px 0px 0px 1px #ccc;
    border-radius: 4px;
    padding: 0 8px;
    border: 0;

    &:focus {
        outline: 2px solid #6495ed;
    }

    &.--error {
        box-shadow: inset 0 0 0 1px #e2483d;
    }
}

.field-textarea {
    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #c1c9d4;
    line-height: 20px;
    resize: none;

    &:focus {
        outline: 2px solid #6495ed;
    }

    &.large {
        min-height: 180px;
    }
    &.h-250 {
        height: 250px;
    }
}

.app {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;

    &__header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__container {
        display: flex;
        gap: 10px;
        flex: 1;
    }

    &__footer {
        text-align: right;
    }

    .form {
        flex: 1;
        border: 1px solid #ccc;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 600px;

        &.preview {
            .field-textarea {
                height: 100%;
            }
        }
    }

    .rows {
        &.--multi {
            display: flex;
            align-items: flex-start;
            gap: 8px;

            .col {
                width: calc(50% - 4px);
                flex: 1;
            }
        }

        &:has(.field-textarea) {
            display: flex;
            flex-direction: column;
            flex: 1;

            .field-textarea {
                flex: 1;
            }
        }
    }

    .line {
        border-top: 1px solid #c1c9d4;
        padding-top: 12px;
        margin-top: 8px;
    }

    .txt {
        margin-bottom: 5px;
    }
}
